  body {
      height: 100%;
  }

  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
  }

  nav ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #522b06;
      padding: 15px;
      list-style: none;
  }

  nav a {
      color: white;
      text-decoration: none;
      font-size: 18px;
  }

  #logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-content {
    position: absolute;
    top: 30%;
    font-size: 15 rem;
    color: #522b06;
    background-color: rgba(240, 248, 255, 0.527);
    border-radius: 30px;
    padding: 20px 100px;
}

.banner img {
    padding: 50px;
    width: 70%;
    height: 90vh; 
    object-position: 50% 70%;
    display: block;
    object-fit:cover;
    border-radius: 100px;
}

  .cards{
      border: 20px solid #522b06;;
      margin: 20px;
      display: flex;
      flex-direction: column;
  }

  .card{
    display: flex;
    align-items: center; 
    gap:20px;
    border-bottom: 1px dotted #522b06;;
    width: 99%;

  }

  .card img {
    width: 80px; 
    height: auto;
    border-radius: 10px;
     margin-left: auto;
}
  footer {
      background: #522b06;;
      color: white;
      padding: 10px 0;
      margin-top: 20px;
  }

  .footer-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
  }
  .social-media{
    width: 40px;
    padding: 20px;
    border-radius: 35%;
    /* object-fit: cover; */
  }
